
<div>
  <div class="lists-header">
    <h1>My Lists</h1>
  </div>

  <div class="lists-content content-panel">
    <div class="lists-new">
      <input class="lists-new-input" type="text" placeholder="Enter title of list" />
      <button class="new-add" onclick="addNewList();">+</button>
    </div>

    <div class="lists-rows">

      <% @lists.each do |list| %>
      <div class="list-row list-row-<%= list.id %>">

        <a class="list-title" href="<%= list.view_path %>"><%= list.title %></a>
        <input class="list-title-edit" style="display: none;">

        <div class="list-row-actions">
          <button class="save-edit btn-simple" style="display: none;" onclick="saveEditList(<%= list.id %>);">
            <i class="fa fa-check"></i>
          </button>
          <button class="edit-list btn-simple" onclick="editList(<%= list.id %>);">
            <i class="fa fa-pencil"></i>
          </button>
          <button class="delete-list btn-simple" onclick="deleteList(<%= list.id %>);">
            <i class="fa fa-trash-o"></i>
          </button>
        </div>
      </div>
      <% end %>

    </div>
  </div>
</div>
