
<div class="list-header">
  <h1><%= @list.title %></h1>
</div>

<div class="list-content content-panel">
  <div class="new-todo">
    <input type="text" class="items-new-input" placeholder="What needs to be done?" onkeyup="handleNewItemTyping();"/>
    <input type="hidden" name="list_id" value="<%= @list.id %>"/>
    <button class="new-add" onclick="addNewItem();">+</button>
  </div>

  <div class="item-rows container-fluid">

    <% @items.each do |item| %>

    <div class="item-row row item-row-<%= item.id %>">

      <div class="item-check">
        <input type="checkbox" name="is_completed" <%= item.is_completed ? "checked=true" : "" %> onclick="changeItemCompleted(<%= item.id %>)"/>
      </div>

      <div class="item-row-actions">

        <button class="save-edit-item btn-simple" style="display: none;" onclick="saveEditItem(<%= item.id %>);">
          <i class="fa fa-check"></i>
        </button>

        <button class="item-edit btn-simple" onclick="editItem(<%= item.id %>);">
          <i class="fa fa-pencil"></i>
        </button>

        <button class="item-delete btn-simple" onclick="deleteItem(<%= item.id %>);">
          <i class="fa fa-trash-o"></i>
        </button>
      </div>

      <div class="item-title">
        <span class="item-title"><%= item.title %></span>
        <input class="item-title-edit" style="display: none;">
      </div>

    </div>

    <% end %>

  </div>
</div>
